.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background-color: #f5f5f5;
}

.mutant-card {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para el header */
.header {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.8;
  text-align: center;
}

/* Estilos para el contenido */
.content {
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  font-size: 16px;
  color: #333;
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

::placeholder {
  color: #999;
  opacity: 1;
}

/* Estilos para la marca de agua */
.watermark {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
  font-style: italic;
}

/* Estilos para el botón */
.actions {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.custom-button {
  background-color: linear-gradient(135deg, #6a11cb, #2575fc);;
  color: white;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #2575fc;
  color: white;
}

.custom-button:disabled {
  background-color: #b0bec500;
  cursor: not-allowed;
}

.spinner {
  margin-left: 0.5rem;
  color: white;
}

